html {
  scroll-padding-top: calc(var(--header-height) + var(--gap-2x));
}

body,
html {
  height: 100%;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#__next {
  min-height: 100%;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
}

main {
  min-height: calc(100vh - var(--footer-height));
  position: relative;
  padding: var(--page-top) 0;
  margin: 0 auto;
  max-width: var(--page-width);
}

@media (max-width: 768px) {
  main {
    max-width: var(--content-width);
    min-height: calc(100vh - var(--footer-height) - 24px);
  }
}

footer {
  border-top: 1px solid var(--mono5);
  position: relative;
  height: var(--footer-height);
  width: 100%;
  background: var(--bg);
  z-index: var(--layer-header);
  box-sizing: border-box;
}

footer > div {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  overflow-x: hidden;
}

footer > div > :first-child {
  margin-right: auto;
}

@media (max-width: 768px) {
  footer > div {
    flex-wrap: wrap;
    white-space: normal;
    gap: 0.5rem;
  }

  footer > div > :last-child {
    margin-left: auto;
  }
}

.subfooter {
  position: relative;
  width: calc(100% + var(--body-margin-right) + var(--body-margin-left));
  left: calc(-1 * var(--body-margin-left));
  border-top: 1px solid var(--mono5);
  padding: 0 var(--body-margin-left);
}

.subfooter section {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--gap-8x) 0;
}

/* Scrollbar styling (global) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  min-height: var(--scrollbar-size-min);
  min-width: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
  border: 5px solid transparent;
  background-clip: padding-box;
}

@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--mono7);
  }
}

::-webkit-scrollbar-thumb:active {
  --scrollbar-color: var(--mono9);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}

[data-scrollbar="hide"] {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

[data-scrollbar="hide"]::-webkit-scrollbar {
  display: none;
}

[data-scrollbar="hide"] {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

[data-scrollbar="hide"]::-webkit-scrollbar {
  height: 0;
  width: 0;
}
