[basics-prose] {
  width: 100%;
  max-width: var(--content-width);
  color: var(--text-color);
}

[basics-prose]::-moz-selection {
  background: var(--transparent);
}

[basics-prose]::selection {
  background: var(--transparent);
}

[basics-prose] > :first-child {
  margin-top: 0;
}

[basics-prose] > :not(:last-child),
[basics-prose] > [basics-codeblock] {
  margin-bottom: 28px;
}

[basics-link] {
  cursor: pointer;
  line-height: normal;
  text-decoration: none;
  outline-offset: 2px;
}
[basics-link] {
  cursor: pointer;
  line-height: normal;
  text-decoration: none;
  outline-offset: 2px;
}
[basics-link][data-disabled][disabled] {
  cursor: not-allowed;
  color: var(--mono8);
}
[basics-link][basics-variant~="heading"] {
  border: none;
}
[basics-link][basics-variant~="heading"]:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='%23838383' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M8.51194 3.00541C9.18829 2.54594 10.0435 2.53694 10.6788 2.95419C10.8231 3.04893 10.9771 3.1993 11.389 3.61119C11.8009 4.02307 11.9513 4.17714 12.046 4.32141C12.4633 4.95675 12.4543 5.81192 11.9948 6.48827C11.8899 6.64264 11.7276 6.80811 11.3006 7.23511L10.6819 7.85383C10.4867 8.04909 10.4867 8.36567 10.6819 8.56093C10.8772 8.7562 11.1938 8.7562 11.389 8.56093L12.0077 7.94221L12.0507 7.89929C12.4203 7.52976 12.6568 7.2933 12.822 7.0502C13.4972 6.05623 13.5321 4.76252 12.8819 3.77248C12.7233 3.53102 12.4922 3.30001 12.1408 2.94871L12.0961 2.90408L12.0515 2.85942C11.7002 2.508 11.4692 2.27689 11.2277 2.11832C10.2377 1.46813 8.94398 1.50299 7.95001 2.17822C7.70691 2.34336 7.47044 2.57991 7.1009 2.94955L7.058 2.99247L6.43928 3.61119C6.24401 3.80645 6.24401 4.12303 6.43928 4.31829C6.63454 4.51355 6.95112 4.51355 7.14638 4.31829L7.7651 3.69957C8.1921 3.27257 8.35757 3.11027 8.51194 3.00541ZM4.31796 7.14672C4.51322 6.95146 4.51322 6.63487 4.31796 6.43961C4.12269 6.24435 3.80611 6.24435 3.61085 6.43961L2.99213 7.05833L2.94922 7.10124C2.57957 7.47077 2.34303 7.70724 2.17788 7.95035C1.50265 8.94432 1.4678 10.238 2.11799 11.2281C2.27656 11.4695 2.50766 11.7005 2.8591 12.0518L2.90374 12.0965L2.94837 12.1411C3.29967 12.4925 3.53068 12.7237 3.77214 12.8822C4.76219 13.5324 6.05589 13.4976 7.04986 12.8223C7.29296 12.6572 7.52943 12.4206 7.89896 12.051L7.89897 12.051L7.94188 12.0081L8.5606 11.3894C8.75586 11.1941 8.75586 10.8775 8.5606 10.6823C8.36533 10.487 8.04875 10.487 7.85349 10.6823L7.23477 11.301C6.80777 11.728 6.6423 11.8903 6.48794 11.9951C5.81158 12.4546 4.95642 12.4636 4.32107 12.0464C4.17681 11.9516 4.02274 11.8012 3.61085 11.3894C3.19896 10.9775 3.0486 10.8234 2.95385 10.6791C2.53661 10.0438 2.54561 9.18863 3.00507 8.51227C3.10993 8.35791 3.27224 8.19244 3.69924 7.76544L4.31796 7.14672ZM9.62172 6.08558C9.81698 5.89032 9.81698 5.57373 9.62172 5.37847C9.42646 5.18321 9.10988 5.18321 8.91461 5.37847L5.37908 8.91401C5.18382 9.10927 5.18382 9.42585 5.37908 9.62111C5.57434 9.81637 5.89092 9.81637 6.08619 9.62111L9.62172 6.08558Z' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  opacity: 0;
  margin-left: var(--gap);
  transition: var(--transition-med);
  transition-property: opacity;
}
[basics-link][basics-variant~="heading"][data-focus]:not([disabled]):after {
  opacity: 1;
}
@media (hover: hover) {
  [basics-link][basics-variant~="heading"]:not([disabled]):hover:after {
    opacity: 1;
  }
}
[basics-link][basics-variant~="text"],
[basics-prose] :where(p, li) a {
  position: relative;
  transition: var(--transition-xx);
  transition-property: -webkit-text-decoration-color;
  transition-property: text-decoration-color;
  transition-property: text-decoration-color, -webkit-text-decoration-color;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--mono8);
  text-decoration-color: var(--mono8);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
}
@media (hover: hover) {
  :is(
      [basics-prose] :where(p, li) a,
      [basics-link][basics-variant~="text"]
    ):hover:not([disabled]) {
    transition: var(--transition-fast);
    -webkit-text-decoration-color: var(--mono11);
    text-decoration-color: var(--mono11);
  }
}
[basics-link][basics-variant~="icon"][href^="http"]:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  transform: translateY(-1px);
  --icon: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.6928 18.3072C5.30227 17.9167 5.30227 17.2835 5.69279 16.893L15.9857 6.6001L9.5999 6.6001C9.04762 6.6001 8.5999 6.15238 8.5999 5.6001C8.5999 5.04781 9.04762 4.6001 9.59991 4.6001L18.3999 4.6001C18.6651 4.6001 18.9195 4.70545 19.107 4.89299C19.2945 5.08053 19.3999 5.33488 19.3999 5.6001L19.3999 14.4001C19.3999 14.9524 18.9522 15.4001 18.3999 15.4001C17.8476 15.4001 17.3999 14.9524 17.3999 14.4001L17.3999 8.01432L7.10701 18.3072C6.71649 18.6977 6.08332 18.6977 5.6928 18.3072Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  background-color: var(--mono9);
}
[basics-link] [basics-code],
[basics-prose] a code {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--mono8);
  text-decoration-color: var(--mono8);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

[basics-prose] > :where(h1, h2, h3, h4, h5, h6) {
  margin-top: 56px;
  margin-bottom: 28px;
}

[basics-prose] > :where([basics-scroller]) {
  margin-top: 64px;
}

[basics-prose] > :where([basics-separator]) {
  margin: var(--gap-4x) 0;
}

[basics-prose] :where(em, i),
[basics-text] :where(em, i),
[basics-text]:where(em, i) {
  font: var(--type-italic);
  color: var(--fg);
}

[basics-prose][basics-variant~="dropcaps"] > p:first-of-type:first-letter {
  float: left;
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 4rem;
  line-height: 0.8;
  margin: 0 0.1em -0.3em 0;
  padding: 0.2em 0.1em 0.1em;
}

[basics-prose] blockquote {
  color: var(--mono11);
  position: relative;
  quotes: "“" "”" "‘" "’";
  --quote-offset: 2px;
}

[basics-prose] blockquote:before {
  content: open-quote;
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  transform: translateX(-100%);
  line-height: var(--leading);
  font-size: var(--text);
}

[basics-prose] blockquote :last-child:after {
  content: close-quote;
  margin-left: var(--quote-offset);
}

[basics-prose] blockquote * {
  color: var(--mono11);
}

[basics-prose] [basics-figure] {
  margin: var(--gap-8x) 0;
}

[basics-prose] ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
}

[basics-prose] li > ul {
  list-style-type: circle;
}

[basics-prose] ol {
  --counter-space: 12px;
  counter-reset: basics-ol;
  list-style-type: none;
  padding: 0;
}

[basics-prose] ol:last-child li {
  font-size: var(--text-s);
  line-height: var(--leading-s);
}

[basics-prose] li {
  display: list-item;
  line-height: var(--leading);
}

[basics-prose] li::marker {
  color: var(--mono11);
}

[basics-prose] li + li,
[basics-prose] li > ul {
  margin-top: var(--gap);
}

[basics-prose] ol li {
  --l: calc(var(--counter-space) + var(--gap-2x));
  text-indent: calc(-1 * var(--l));
  padding-left: var(--l);
}

[basics-prose] ol li:before {
  counter-increment: basics-ol;
  content: counter(basics-ol);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  min-width: var(--counter-space);
  margin-right: var(--gap-2x);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: var(--mono11);
  font-feature-settings: "tnum" 1;
  letter-spacing: -0.05em;
  line-height: normal;
}

article[basics-prose] {
  position: relative;
}

@media (max-width: 1024px) {
  [basics-sidenote]:not(.meta) {
    margin: var(--gap-2x) 0;
    margin-left: var(--gap-2x);
    width: calc(100% - var(--gap-2x));
  }
}
