---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-main-bg">
		<Header />
		<main>
			<div class="main-grid">
				<article basics-prose="" data-animation-controller="true">
					<div basics-prose="">
						<h1 basics-heading="" data-animate="" basics-text="">Hue Xi</h1>
						<p style="--stagger:1" data-animate="" basics-text="">
							Developing skill through doing, guiltlessly exploring passion and interests, imbuing quality. Mindful that <em>everything around me is someone's life work.</em>
						</p>
						<p style="--stagger:2" data-animate="" basics-text="">
							I try to understand how the world works. I create things I want to exist in the world. I test those ideas against reality.
						</p>
						<p style="--stagger:3" data-animate="" basics-text="">
							In practice, this means most of my time is spent programming, investing, talking to people and other creative work.
						</p>
						<p style="--stagger:4" data-animate="" basics-text="">
							Most of my work revolves around AI, Decentralized Finance, Intelligence Augmentation, Human Connection, User Experience & Memetics.
						</p>
						<p style="--stagger:5" data-animate="" basics-text="">
							It seems like the most impactful field right now is AI. Decentralized Finance, and new ways of socializing/public perception is also getting quite interesting.
						</p>
						<p style="--stagger:6" data-animate="" basics-text="">
							If you're reading this, feel free to send me a message anywhere you see me! You can DM me on 
							<a basics-variant="text" basics-link="" href="https://x.com/huexi_" rel="noopener" target="_blank">Twitter</a>. 
							This page was last updated on December 4th, 2024.
						</p>
					</div>
				</article>
			</div>
		</main>
		<Footer />
	</body>
</html>
