---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-main-bg">
		<Header />
		<main>
			<h1>Huexi's Blog</h1>
			<p>
				Developing skill through doing, guiltlessly exploring passion and interests, imbuing quality. Mindful that <em>everything around me is someone’s life work.</em>
			</p>
			<p>
				I try to understand how the world works. I create things I want to exist in the world. I test those ideas against reality.
			</p>
			<p>
				In practice, this means most of my time is spent programming, investing, talking to 
				people and other creative work.
			</p>
			<p>
				Most of my work revolves around AI, Decentralized Finance, Intelligence Augmentation, Human Connection, User Experience & Memetics.
			</p>
			<p>
				It seems like the most impactful field right now is AI. Decentralized Finance, and new 
				ways of socializing/public perception is also getting quite interesting.
			</p>
			<p>
				If you're reading this, feel free to send me a message anywhere you see me! 
				You can DM me on Twitter. This page was last updated on December 4th, 2024.
			</p>
		</main>
		<Footer />
	</body>
</html>
