---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-main-bg">
    <Header />
    <main>
      <div class="main-grid">
        <article basics-prose="" data-animation-controller="true">
          <div basics-prose="">
            <h1 basics-heading="" data-animate="" basics-text="">My Favorite Links</h1>
            
            <p style="--stagger:1" data-animate="" basics-text="">
              This page lists many of my favorite blog posts, organized by author. Much of my most-cherished knowledge is from blog posts or internet comments, so I hope to share some of that with others here. Last updated: Nov 30 2024
            </p>

            <h2 style="--stagger:2" data-animate="" basics-text="">Scott Alexander</h2>
            <p style="--stagger:3" data-animate="" basics-text="">
              As the author behind SlateStarCodex (now AstralCodexTen) and many great LessWrong posts, Scott is among one of the best written content creators of the last decade. He writes about psychiatry, rationality, and meta-science. Here's some writing of his that I love, with my favorites bolded:
            </p>

            <ul>
              <li style="--stagger:4" data-animate="" basics-text="">
                <a basics-link="" href="#">Beware Trivial Inconveniences (2009)</a>: Trivial inconveniences (like default app settings) are a powerful force
              </li>
              <li style="--stagger:5" data-animate="" basics-text="">
                <a basics-link="" href="#">The Apologist and the Revolutionary (2009)</a>: Anosognosia, delusions, and neuroscience
              </li>
              <li style="--stagger:6" data-animate="" basics-text="">
                <strong><a basics-link="" href="#">The noncentral fallacy</a></strong>: The worst argument in the world? (2012)
              </li>
              <!-- Add more list items with incrementing --stagger values -->
            </ul>
          </div>
        </article>
      </div>
    </main>
    <Footer />
  </body>
</html>
